@import "variables";

.about-us-container {
  text-align: center;
  padding: 3% 0;
  color: $blue-purple;

  div.au-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  img {
    width: 40%;
  }

  hr {
    &.style-five {
      border: 0;
      height: 0;
      margin: 1% 5% 4%;
      box-shadow: 0 0 5px 10px $light-blue;
    }
  
    &.style-five:after {
      content: "\00a0";
    }
  }

  .dream-list,
  .technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
    }
  }

  .about-devs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ul-dream-list,
  .tech-dream-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .dreams-tech {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-evenly;
  }
  //reacstrap class
  .row {
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    align-items: flex-end;
  }

  .card,
  .card-body {
    border: none;
  }

  .card {
    display: block;
    padding: 3%;
  }

  .card:hover {
    box-shadow: 2px 2px 4px $light-blue;
    img {
      width: 42%;
    }
  }

  .card-subtitle {
    font-family: cursive;
  }

  .card-text {
    a {
      text-decoration: none;
    }
  }
}
