/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 Hex code: #FFCCE7, #DAF2DC, #81B7D2, #4D5198

Nav - header - #DAF2DC
#4D5198 - text
#FFCCE7 - button --- button:hover - #DAF2DC
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "bootstrap";
@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header;
}

.form-container {
  width: 50%;
  text-align: center;
  color: $blue-purple;
  margin: 0 auto;

  .form-control,
  .form-control:focus {
    color: $blue-purple;
    text-align: center;
  }

  .btn {
    background-color: $pink;
    color: $blue-purple;
    border: none;
  }

  .btn:hover {
    background-color: $green;
    color: $blue-purple;
  }
}

.main-card-container {
  text-align: center;
  padding: 3% 0;
  color: $blue-purple;

  .card,
  .card-body {
    border: none;
  }

  .card {
    display: block;
    padding: 3%;
    margin: 3%;
    box-shadow: 2px 2px 4px $light-blue;
  }

  .card-subtitle {
    font-family: cursive;
  }

  .btn {
    background-color: $pink;
    color: $blue-purple;
    border: none;
  }

  .btn:hover {
    background-color: $green;
    color: $blue-purple;
  }
}
