/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 Hex code: #FFCCE7, #DAF2DC, #81B7D2, #4D5198

Nav - header - #DAF2DC
#4D5198 - text
#FFCCE7 - button --- button:hover - #DAF2DC
 */
$pink: #ffcce7;
$green: #daf2dc;
$light-blue: #81b7d2;
$blue-purple: #4d5198;
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
