*{
    margin: 0;
    padding: 0;
}
.footer-main {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(193, 223, 205) ;
    padding: .3rem;
    .footer-link{
        margin-top: 15px;
        margin-right: 3rem;
        color: #4D5198;
        text-decoration: none;
        text-shadow: 1px 1px #ffffff;
    }
    .footer-home-link{
        font-size: 35px;
        font-family: cursive;
        color: #4D5198;
        text-decoration: none;
        margin-left: 3rem;
        text-shadow: 1px 1px #ffffff;
    }
    .footer-home-link:hover{
        color: white;
    }
}