@import "variables";

.header-container {
  .navbar-nav {
    align-items: center;
  }

  .navbar-brand {
    font-family: $header;
  }

  .bg-light {
    background-color: $green !important;
  }

  a {
    text-decoration: none;
    color: $blue-purple !important;
    padding: 0.5rem;
  }
  a.navbar-brand:hover {
    color: $pink !important;
  }

  .nav-item {
    a:hover {
      background-color: $seeThroughPink;
      border-radius: 10px;
      color: $blue-purple !important;
      font-family: $header;
      font-weight: 100;
    }
  }
}
