$pink: #ffcce7;
$green: #daf2dc;
$light-blue: #81b7d2;
$blue-purple: #4d5198;
$font: "Abril Fatface", cursive;

.header-container {
  .navbar-nav {
    align-items: center;
  }
  .bg-light {
    background-color: $green !important;
  }

  a {
    text-decoration: none;
    color: $blue-purple;
    padding: 0.5rem;
  }
  a:hover {
    color: $blue-purple;
    font-family: $font;
    font-weight: 100;
  }
}
