@import "variables";
.sight-edit-main{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: $blue-purple;

    h1{
        font-family: $font;
    }

    .button-style{
        background-color: $pink;
        color: $blue-purple;
    }

    .button-style:hover{
        background-color: $green;
        color: $blue-purple;
    }

  
}