@import "variables"; 
.tripshow-container{
    color: $blue-purple;
    align-items: center;
    padding: 4.375rem;
    text-align: center;
  h1{
    font-family: $header;
    display: flex;
    text-align: center;
  }
  .text-right{
      box-shadow: 2px 2px $light-blue;
      margin: 3%;
  }
  .edit-btn{
    box-shadow: 1px 1px;
    text-decoration: none;
    background-color: $green;
    padding: 10px;
    border-radius: 8px;
    color: $blue-purple;
    margin: 3%;
  }
  .edit-btn:hover{
    background-color: $pink;
    color: $blue-purple;
  }
  .delete-btn{
    box-shadow: 1px 1px;
    text-decoration: none;
    background-color: $pink;
    padding: 10px;
    border-radius: 8px;
    color: $blue-purple;
    margin: 3%;
  }
  .delete-btn:hover{
    background-color: $green;
    color: $blue-purple;
  }

  .last-card{
    box-shadow: 1px 1px;
    text-decoration: none;
    background-color:  $pink;
    padding: 10px;
    border-radius: 8px;
    color: $blue-purple;
  }
  .last-card:hover{
    background-color: $green;
    color: $blue-purple;
  }
}

