@import "variables";
.trip-show-container {
  .card {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }

  .ts-info {
    margin: 3% 0 !important;
  }

  .edit-btn {
    box-shadow: 1px 1px !important;
    text-decoration: none !important;
    background-color: $green !important;
    padding: 10px !important;
    border-radius: 8px !important;
    color: $blue-purple !important;
    margin: 3% !important;
    border: none !important;
  }

  .edit-btn:hover {
    background-color: $pink !important;
    color: $blue-purple !important;
  }

  .delete-btn {
    box-shadow: 1px 1px !important;
    text-decoration: none !important;
    background-color: $pink !important;
    padding: 10px !important;
    border-radius: 8px !important;
    color: $blue-purple !important;
    margin: 3% !important;
    border: none !important;
  }

  .delete-btn:hover {
    background-color: $green !important;
    color: $blue-purple !important;
  }

  .ts-btn {
    box-shadow: 1px 1px !important;
    background-color: $pink !important;
    padding: 10px !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 3% !important;
    color: $blue-purple !important;

    a {
      text-decoration: none !important;
      color: $blue-purple !important;
    }
  }

  .ts-btn:hover {
    background-color: $green !important;
    color: $blue-purple !important;
  }

  .bottom-btn {
    margin: 3% !important;
    padding: 2% !important;
  }

  .btd-btn {
    box-shadow: 1px 1px !important;
    text-decoration: none !important;
    background-color: $green !important;
    padding: 10px !important;
    border-radius: 8px !important;
    color: $blue-purple !important;
    margin: 3% !important;
    border: none !important;
  }

  .btd-btn:hover {
    background-color: $pink !important;
    color: $blue-purple !important;
  }
}
