

.tripindex-container{
    color: #4D5198;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    margin: 0 auto;

  .btn{
    text-decoration: none;
    background-color:  #FFCCE7;
    padding: 10px;
    border-radius: 8px;
    color: #4D5198
  }

  .btn:hover{
    background-color: #DAF2DC;
    color: white;
  }

  h1{
    text-align: center;
  }

}