
$pink: #FFCCE7;
$green: #DAF2DC;
$light-blue: #81B7D2;
$blue-purple: #4D5198;
$font: "Abril Fatface", cursive;
.tripindex-container{
    color: $blue-purple;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    align-items: center;

  .btn{
    box-shadow: 1px 1px;
    text-decoration: none;
    background-color:  $pink;
    padding: 10px;
    border-radius: 8px;
    color: $blue-purple;
  }

  .btn:hover{
    background-color: $green;
    color: $blue-purple;
  }

  h1{
    text-align: center;
  }
  .card-body{
    align-items: center;
    color: $blue-purple;
  }

}